.product-list {
  margin-top: 2rem;
}

.product-list h3 {
  margin-bottom: 0.5rem;
}

.product-list__product {
  margin-bottom: 2rem;
}

.product-list__attributes p {
  margin: 0;
}

.product-list .product-list__option {
  margin-left: 1rem;
}